body{
	text-align: center;
	background-color: #BDD6EF;
}
li{
	text-align: left;
}
span.ind{
	display: inline-block;
	vertical-align: top;
	width: 25%;
	height: 230px;
	/*float: left;*/
	margin: 20px;
	font-size: 20px;
	border-radius: 10px;
	background-color: rgba(84,122,162,0.57);
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	color: #1B4269;
	/*margin-left: 5%;*/
/*	margin-right: 10%;
*/}
nav{
	margin-top: 10px;
	display: block;
}
nav span.n{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
	float: none;
	width: 13%;
	height: 45px;
	display: inline-block;
	border-radius: 10px;
	background: linear-gradient(to top right,#BDD6EF,#ABCCEF);
	box-shadow: 0 0 10px rgba(0,0,0,0.5), inset 5px 5px 30px 0 #fff;
	font-size: 23px;
}
#bron{
	text-decoration:none;
	color: #000;
}
#stop{
	text-decoration:none;
	color: #000;
}
#conts{
	text-decoration:none;
	color: #000;
}
#faq{
	text-decoration:none;
	color: #000;
}
#ns{
	clear: both;
}
p, #s2{
	clear: both;
}
#s2{
	font-size: 20px;
	margin-top: 40px;
	font-family: Georgia serif;
}
p{
	text-align: center;
}
#fs{
	clear: both;
}
#s1{
	/*padding-left: 10%;
	padding-right: 10%;*/
	margin: 10px;
	height: 530px;
}
h5{
	color: #000;
}
h3{
	font-size: 25px;
}
header{
	display: block;
	margin-bottom: 10px;
	background: linear-gradient(to top right,#8AB4DF,#2D5E91);
	height: 180px;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	margin-left: 20%;
	margin-right: 20%;
}
#b{
	width: 20%;
	height: 100px;
	font-size: 24px;
	border-radius: 20px;
	background: linear-gradient(to top right,#547AA2,#1B4269);
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	margin-top: 40px;
}
#b:hover{
	background: #99B4D1;
}
hgroup{
	float: left;
	display: inline;
	font-family: sans-serif;
	font-size: 20px;
}
#mt{
	text-decoration:none;
	font-size: 24px;
	color: #480E69;
	font-family: "ALGERIAN";
}
div{
	display: inline-block;
	width: 170px;
}
#com{
	width: 100%;
}
textarea{
	width: 500px;
	height: 120px;
	margin-left: 20%;
	margin-right: 20%;
	resize: none;
	margin-top: 10px;
}
div.list{
	width: 300px;
	height: 600px;
	border-radius: 10px;
	background-color: rgba(84,122,162,0.57);
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	padding: 20px;
	font-size: 20px;
}
#c{
	height: 500px;
	width: 60%;
	margin-left: 20%;
	border-radius: 10px;
	background-color: rgba(84,122,162,0.57);
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	font-size: 20px;
	text-align: left;
}
div.intable{
	margin-top: 5px;
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 5px;
}
div.faq{
	height: 350px;
	width: 42%;
	vertical-align: top;
	border-radius: 10px;
	background-color: rgba(84,122,162,0.57);
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	padding: 20px;
	font-size: 20px;
	margin: 20px;
}
#container{
	width: 58%;
	background-color: #85AAD1;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	padding: 20px;
	margin-right: 20%;
	margin-left: 20%;
}
input,select{
	width: 173px;
	margin-top: 10px;
}
form div{
	margin:20px;
}
#extra{
	font-size: 20px;
}
#title,#info{
	width: 50%;
	margin: 30px;
}
#social{
	vertical-align: top;
	right: 0;
	margin: 30px;
}
#mail{
	width: 50%;
	text-align: center;
	margin-left: 25%;
	margin-right: 25%;
}